<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{{ site_title }}</title>
<meta name="description" content="London 2600 meet on the first Friday of every month, initially from 6.30pm to 7.30pm at the front entrance to the Trocadero, near Piccadilly Circus">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600">
<link rel="stylesheet" href="{{ theme_url }}/main.css">
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>
<header>
<a href="/">
<pre> _______   ______  _______  _______     _        _______  _        ______   _______  _       
/ ___   ) / ____ \(  __   )(  __   )   ( \      (  ___  )( (    /|(  __  \ (  ___  )( (    /|
\/   )  |( (    \/| (  )  || (  )  |   | (      | (   ) ||  \  ( || (  \  )| (   ) ||  \  ( |
    /   )| (____  | | /   || | /   |   | |      | |   | ||   \ | || |   ) || |   | ||   \ | |
  _/   / |  ___ \ | (/ /) || (/ /) |   | |      | |   | || (\ \) || |   | || |   | || (\ \) |
 /   _/  | (   ) )|   / | ||   / | |   | |      | |   | || | \   || |   ) || |   | || | \   |
(   (__/\( (___) )|  (__) ||  (__) | _ | (____/\| (___) || )  \  || (__/  )| (___) || )  \  |
\_______/ \_____/ (_______)(_______)(_)(_______/(_______)|/    )_)(______/ (_______)|/    )_)</pre>
</a>
</header>
<div id="container"><div>
    {{ content }}
    <h2>News</h2>
    <ul class="news">
    {% set limit = 3 %}
    {% for page in pages %}
        {% if page.url starts with '/news/' and limit > 0 %}
    <li>
        <h4><a href="{{ page.url }}">{{ page.title }}</a></h4>
        <p class="meta">Posted by <strong>{{ page.author }}</strong> on <em>{{ page.date_formatted }}</em></p>
        <p class="excerpt">
        {{ page.excerpt }}
        </p>
    </li>
            {% set limit = limit - 1 %}
        {% endif %}
    {% endfor %}
    </ul>
    <div class="col">
        <h2>Upcoming Events</h2>
        <div id="events"></div>
        <br class="clear">
    </div>
    <div class="col">
        <h2>Recent Articles</h2>
        <ul id="articles">
    {% set limit = 5 %}
    {% for page in pages %}
        {% if page.url starts with '/articles/' and limit > 0 %}
    <li>
        <a href="{{ page.url }}">{{ page.title }}</a> by <em>{{ page.author }}</em>
    </li>
            {% set limit = limit - 1 %}
        {% endif %}
    {% endfor %}
        </ul>
    </div>
    <br>
</div></div>
<footer><div>
    <div>
        <h3>Come meet us</h3>
        <ul>
            <li>First Friday of every month</li>
            <li>Start at 6:30 at the Trocadero front entrance, on Coventry Street</li>
            <li>Move on elsewhere at 7:30</li>
        </ul>
    </div>
    <div>
        <h3>Contact us</h3>
        <ul>
            <li><a href="https://lists.kentgeek.org/mailman/listinfo/london2600">Join the mailing list</a></li>
            <li><a href="http://www.2600.org">The 2600 Mothership</a></li>
        </ul>
    </div>
    <div>
        <h3>Other bollocks</h3>
        <p>
        <a class="cc-image" rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
        </p>
        <p>
        Powered by <a href="http://picocms.org">picocms</a> and <a href="https://github.com/london2600/website">malice</a>
        </p>
    </div>
</div></footer>
<script src="/content/scripts/site.js"></script>
</body>
</html>
